# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
ENV/

# Banco de dados local (Não mais usado, mas bom manter)
*.db
*.sqlite
*.sqlite3

# Streamlit
.streamlit/

# IDE files
.vscode/
.idea/

# ARQUIVO DE SEGREDO - NÃO ENVIE PARA O GITHUB!
credentials.json
